* {
  margin: 0;
  padding: 0;
}
body{
  background-color: yellowgreen;
}
#navbar {
  height: 100px;
  background-color: #0f1111;
  padding-top: 10px;
  border: 10px Solid white;
}

#logo {
  color: #f08804;
  font-size: 30px;
}
input {
  color: black;
}
button {
  background-color: #f08804;
}
a {
  margin-right: 200px;
  text-decoration: none;
}
input {
  padding: 5px;
}
#btn {
  padding: 4px;
}
